button{
    background-color:linen;
    margin-top: 15px;
    margin-left: 190px;
    margin-right: 150px;
    flex-wrap: wrap;
    border: none;
    padding: 10px 20px 10px 20px;
    
    font-size: 15px;
    border-radius: 15px;
}